<div id="<%= dom_id device %>">
  <p>
    <strong>Model:</strong>
    <%= device.model %>
  </p>

  <p>
    <strong>Os major version:</strong>
    <%= device.os_major_version %>
  </p>

  <p>
    <strong>Os minor version:</strong>
    <%= device.os_minor_version %>
  </p>

  <p>
    <strong>Os patch version:</strong>
    <%= device.os_patch_version %>
  </p>

  <p>
    <strong>Player:</strong>
    <%= device.player_id %>
  </p>

  <p>
    <strong>Locale:</strong>
    <%= device.locale_id %>
  </p>

  <p>
    <strong>Operating system:</strong>
    <%= device.operating_system_id_id %>
  </p>

</div>
